
	<div class="container-fluid">
  <div class="row-fluid">
    <div  id = "nav">
    	<h1 id= 'name'><%= link_to 'George Zisiadis', root_path  %></h1>

	
		<p><%= link_to 'Bio', bio_path %></p>
		<p>Projects</p>
		<p>  </p>
		
			<div id='project-text'>
			<p><%= link_to 'Awesome Foundation', 'http://awesomefoundation.org'  %></p>
			<p><%= link_to 'Balloonacy', 'http://awesomefoundation.org'  %></p>
			<p><%= link_to 'SF Funk Truck', '#'  %></p>
			<p><%= link_to '--', '#'  %></p>
		</div>
	 </div>


    <div  id='body'>
    	<div class = 'project-thumb'>
      	<%= link_to image_tag('balloonacy flyer.jpg'), 'http://balloonacy.org'%>
		<div class = 'text'> #Balloonacy </div>
		</div>

		<div class = 'project-thumb'>
		<%= link_to image_tag('balloonacy flyer.jpg'), 'http://balloonacy.org' %>
		<div class = 'text'> #SF Funk Truck </div>
		</div>

		<div class = 'project-thumb'>
		<%= link_to image_tag('balloonacy flyer.jpg'), 'http://balloonacy.org' %>
		<div class = 'text'>#WAVE </div>
		</div>

		<div class = 'project-thumb'>	
		<%= link_to image_tag('balloonacy flyer.jpg'), 'http://balloonacy.org' %>
		<div class = 'text'>#Exammer Slammer </div>
		</div>

		<div class = 'project-thumb'>	
		<%= link_to image_tag('balloonacy flyer.jpg'), 'http://balloonacy.org' %>
		<div class = 'text'>#Before I Graduate... </div>
		</div>

		<div class = 'project-thumb'>	
		<%= link_to image_tag('balloonacy flyer.jpg'), 'http://balloonacy.org' %>
		<div class = 'text'> #DJ Straus </div>
		</div>

    </div>
  </div>
</div>






