

<div class='container-fluid'>
    
    	<div class = 'project-thumb'>
      	<%= link_to image_tag('balloonacy_color.png'), balloonacy_path%>
		<div class = 'text'> Balloonacy! </div>
		</div>

		<div class = 'project-thumb'>
		<%= link_to image_tag('funk truck screengrab.png'), sf_funk_truck_path %>
		<div class = 'text'> SF Funk Truck </div>
		</div>

		<div class = 'project-thumb'>
		<%= link_to image_tag('WAVE.jpg'), wave_path %>
		<div class = 'text'>WAVE </div>
		</div>

		<div class = 'project-thumb'>	
		<%= link_to image_tag('Examer_Slammer.jpeg'), examer_slammer_path %>
		<div class = 'text'>The Exammer Slammer </div>
		</div>

		<div class = 'project-thumb'>	
		<%= link_to image_tag('before i graduate.jpeg'), before_i_graduate_path %>
		<div class = 'text'>Before I Graduate... </div>
		</div>

		<div class = 'project-thumb'>	
		<%= link_to image_tag('DjStraus-wText.jpg
		'), dj_straus_path %>
		<div class = 'text'> DJ Straus </div>
		</div>

		<div class = 'project-thumb'>	
		<%= link_to image_tag('awesomefoundation.png'), awesome_foundation_path %>
		<div class = 'text'> The Awesome Foundation </div>
		</div>

   
</div>








