

    <div  id = "nav">
    	<h1 id= 'name'><%= link_to 'George Zisiadis', root_path  %></h1>

	
		<p><%= link_to 'Bio', bio_path %></p>
		<p>Projects</p>
		<p>  </p>
		
			<div id='project-text'>
			<p><%= link_to 'Awesome Foundation', awesome_foundation_path  %></p>
			<p><%= link_to 'Balloonacy', balloonacy_path  %></p>
			<p><%= link_to 'SF Funk Truck', sf_funk_truck_path  %></p>
			<p><%= link_to 'WAVE', wave_path  %></p>
			<p><%= link_to 'Examer Slammer', examer_slammer_path  %></p>
			<p><%= link_to 'Before I Graduate', before_i_graduate_path  %></p>
			<p><%= link_to 'DJ Straus', dj_straus_path  %></p>
			
			</div>
	</div>
